@media (max-width: 500px){
    .text3{
    
  margin-top: 50px;
  margin-bottom: 50px;
  
  
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 4.2vw;
  line-height: 43px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  
  
  }
  
  }
  
  
  
  
  .z1{
    margin-left:7px;
  }
  
  
  
  .text1{
  
  
  
  
      font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 4vmin;
  line-height: 43px;
  margin-right: 10px;
  
  /* identical to box height */
  
  
  color: #FFFFFF;
  
  
  }
  
  .text2
  {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 4vmin;
  line-height: 43px;
  margin-right: 10px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  
  
  /* or 15px */
  
  
  
  
  }
  
  .text3{
      
  margin-top: 50px;
  margin-bottom: 50px;
  
  
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 4vmin;
  line-height: 43px;
  /* identical to box height */
  
  
  color: #FFFFFF;
  
  
  }
  